# Create a Db2 RESTful Service that Executes a Query

This notebook provides an example of how to create a REST service called "getorderinfo" that queries a Db2 Dataase and returns the results.  This service only SELECTs from the database, but services can be created to update, insert and delete from the database.  It also has examples of executing the service, deleting the service, listing services and examining the service.  

Creation of a services reqluires a authorization token.  The token is generated by another notebook in this folder.  You just need to copy the token created by the other notebook and paste it in this one.  

The service is created to expect two input parameters that will be used in the predicate of the query.  

Each endpoint is associated with a single SQL statement. Authenticated users of web, mobile, or cloud applications can use these REST endpoints from any REST HTTP client without having to install any Db2 drivers.

The Db2 REST server accepts an HTTP request, processes the request body, and returns results in JavaScript Object Notation (JSON).  

This notebook is used as example for the db2Dean article for http://www.db2dean.com/Previous/db2RESTsecurity.html

You can find more information about this service at: https://www.ibm.com/support/producthub/db2/docs/content/SSEPGG_11.5.0/com.ibm.db2.luw.admin.rest.doc/doc/c_rest.html.

## Finding the Db2 RESTful Endpoint Service API Documentation
The APIs used in this notebook are documented in the container for the endpoint.  If you are running a browser on the host containing the container, you can view the documentation using "localhost" host name.  If that is your case then you can view the documentaiton by pasting this  URL into your browser:  https://localhost:50050/docs  Otherwise, you would substitute the remote IP or host name if the container is on another host.  You would also change https to http if you are running the service in http mode.

## Import the required programming libraries
The requests library is the minimum required by Python to construct RESTful service calls. The Pandas library is used to format and manipulate JSON result sets as tables.

In [1]:
import requests
import pandas as pd

## Create the Header File required for getting an authetication token
The RESTful call to the Db2 RESTful Endpoint service is contructed and transmitted as JSON. The first part of the JSON structure is the headers that define the content type of the request.

In [2]:
headers = {
  "content-type": "application/json"
}

## RESTful Host
The next part defines where the request is sent to. It provides the location of the RESTful service for our calls.  In my case I was running this notebook on the same machine as the REST Endpoint container was running.  If you are on a different host you would need to replace "localhost" with the actual host name or IP.  Also if you are running your service as https, you would need to change http to https.

In [3]:
# Any Location
Db2RESTful = "http://localhost:50050"

## API Authentication Service
Each service has its own path in the RESTful call. For authentication we need to point to the `v1/auth` service.

In [4]:
API_Auth = "/v1/auth"

## Authentication
The standard header for all subsequent calls will use this format. It includes the access token.  The token is generated in the token creation notebook in this folder and I used copy/paste to add it here manually.  I would expect that for a production system you would automate the token creation and getting it into the application that creates the service.

In [5]:
headers = {
  "authorization": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6ZmFsc2UsImNsaWVudF9pZCI6ImU2YTM0OWIyLTcwMmYtNDAyOC04ZGI5LTFhZDZlOWM1MGNmYiIsImV4cCI6MTY1NzA0NjAzMSwiaXNzIjoic2VydmljZV9hZG1pbjEifQ.RV4vNkvSigcWjcht_r21JMM4r1GoFDjGN4gvg4GzSxwXWxoYc4dSa2QMz_IZmQkkcNByXH-DFCjRUXHtwnuaSKzTeTKOuCoOKVB365SeffnBa0L0KWzuMLl4G9UKpRb2TX5g1rcPDg7BjtGJwzUh3rx_ejS6o5ik8Euyowp9EnrTycI4uyJvIDFaXGXreMHK9PcRm4Bh-fL-P0F6hze3ddur5R0jWG-9uV2lhBwpyG8NeD2CmyAGDy5zk5AkH4D3fFoM9_otcbuLe2wcxjKRlyiWHimfpwq9MEbCb6FeODrOrBxu1z9vuf9gxR72dH9VgYBkyivHFuMf8XF8-avx6A",  
  "content-type": "application/json"
}

In [6]:
print(headers)

{'authorization': 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6ZmFsc2UsImNsaWVudF9pZCI6ImU2YTM0OWIyLTcwMmYtNDAyOC04ZGI5LTFhZDZlOWM1MGNmYiIsImV4cCI6MTY1NzA0NjAzMSwiaXNzIjoic2VydmljZV9hZG1pbjEifQ.RV4vNkvSigcWjcht_r21JMM4r1GoFDjGN4gvg4GzSxwXWxoYc4dSa2QMz_IZmQkkcNByXH-DFCjRUXHtwnuaSKzTeTKOuCoOKVB365SeffnBa0L0KWzuMLl4G9UKpRb2TX5g1rcPDg7BjtGJwzUh3rx_ejS6o5ik8Euyowp9EnrTycI4uyJvIDFaXGXreMHK9PcRm4Bh-fL-P0F6hze3ddur5R0jWG-9uV2lhBwpyG8NeD2CmyAGDy5zk5AkH4D3fFoM9_otcbuLe2wcxjKRlyiWHimfpwq9MEbCb6FeODrOrBxu1z9vuf9gxR72dH9VgYBkyivHFuMf8XF8-avx6A', 'content-type': 'application/json'}

## Create a Unique RESTful Service
The most common way of interacting with the service is to fully encapsulate an SQL statement, including any parameters, in a unique RESTful service. This creates a secure separation between the database service and the RESTful programming service. It also allows you to create versions of the same service to make maintenance and evolution of programming models simple and predictable.

In [7]:
API_makerest = "/v1/services"

Define the SQL that we want in the RESTful call.  It will expect two input parameters that are used in the predicate of the query. Note that creation of this service will create a stored procedure in the "REST_SERVICES" schema of the database.

In [8]:
body = {"isQuery": True,
       "parameters": [
         {
         "datatype": "VARCHAR(150)",
         "name": "@RETAILER"
         },
         {
         "datatype": "DECIMAL(19,2)",
         "name": "@PRICE"
         }
       ],
       "schema": "REST_SERVICES",
       "serviceDescription": "Select order and order details information",
       "serviceName": "getorderinfo",
       "sqlStatement": "SELECT H.ORDER_NUMBER, RETAILER_NAME, \
                        ORDER_DATE, PRODUCT_NUMBER, QUANTITY \
                        FROM GOSALES.ORDER_HEADER H, GOSALES.ORDER_DETAILS D  \
                        WHERE H.ORDER_NUMBER = D.ORDER_NUMBER \
                        AND RETAILER_NAME LIKE @RETAILER AND UNIT_SALE_PRICE > @PRICE\
                        LIMIT 2",
       "version": "1.0"
}

In [9]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_makerest), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [10]:
# A response of 400 frequently means that the serice alrady exists 
# and you need to delete it using the delete cells below.
print(response)

<Response [201]>

In [11]:
if (response.status_code == 201):
  print("Service Created")
else:
  print(response.json()['errors'])

Service Created

## Allow other users to execute the service
In this case we are giving access to the database role "SERVICE_USER" so all users in that role can execute the service.

In [12]:
API_grant = "/v1/services/grant/getorderinfo/1.0"

This example grants access to a role.  Authorities can be granted to individual users and OS groups as well.

In [13]:
body = {
  "roles": {
    "withGrantOption": False, 
    "names": ["SERVICE_USER"]
  }
}

In [14]:
try:
    response = requests.put("{}{}".format(Db2RESTful,API_grant), headers=headers, json=body)
except Exception as e:
    print("Unable to authorize service. Error={}".format(repr(e)))

In [15]:
print(response)

<Response [200]>

In [16]:
if (response.status_code == 200):
  print("Execute Granted to Service")
else:
  print(response.json()['errors'])

Execute Granted to Service

## Test the Service You Just Created
Now you can call the RESTful service. You may want to test with different input variables.

In [17]:
API_runrest = "/v1/services/getorderinfo/1.0"

In [18]:
# Note that the % symbol is the wild card in relational databases.
retailer = "%Sports%"
minprice = 10.2
body = {
  "parameters": {
    "@RETAILER": retailer,
    "@PRICE": minprice
  },
  "sync": True
}

In [19]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_runrest), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

A response of 200 indicates a successful service call.

In [20]:
print(response)
print(response.json())

<Response [200]>
{'jobStatus': 4, 'jobStatusDescription': 'Job is complete', 'resultSet': [{'ORDER_DATE': '2005-09-16T00:00:00Z', 'ORDER_NUMBER': 813061, 'PRODUCT_NUMBER': 124110, 'QUANTITY': 145, 'RETAILER_NAME': 'Maximum Sports'}, {'ORDER_DATE': '2006-07-11T00:00:00Z', 'ORDER_NUMBER': 804482, 'PRODUCT_NUMBER': 128200, 'QUANTITY': 59, 'RETAILER_NAME': 'Kavanagh Sports'}], 'rowCount': 2}

## Delete a Service
A single call is also available to delete a service.  Only delete the service when you are about to create a new one or no longer want the service.

In [ ]:
API_deleteService = "/v1/services"
Service = "/getorderinfo"
Version = "/1.0"

In [ ]:
try:
    response = requests.delete("{}{}{}{}".format(Db2RESTful,API_deleteService,Service,Version), headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [ ]:
# A response of 204 indicates success.
print (response)

## Retreive Service Details
You can query each service to see its details, including authoritization, input parameters and output results. It is probably worthwile to give this informaiton to the developers who will call the service.  Unless you give them direct access to select from the tables in the query, they will not be able to describe he service wiht this command.

In [21]:
API_listrest = "/v1/services/getorderinfo/1.0"

In [22]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [23]:
print(response.json())

{'grantees': {'groups': None, 'roles': [{'grantee': 'SERVICE_USER', 'withGrantOption': False}], 'users': [{'grantee': 'SERVICE_ADMIN1', 'withGrantOption': True}]}, 'inputParameters': [{'length': 150, 'mode': 'IN', 'name': '@RETAILER', 'scale': 0, 'type': 'VARCHAR'}, {'length': 19, 'mode': 'IN', 'name': '@PRICE', 'scale': 2, 'type': 'DECIMAL'}], 'lastModified': '2022-07-05T17:35:18.350315Z', 'procName': 'REST_GETORDERINFO_1_0', 'procSchema': 'REST_SERVICES', 'resultSetFields': [{'jsonType': 'integer', 'length': 4, 'name': 'ORDER_NUMBER', 'scale': 0, 'type': 'INTEGER'}, {'jsonType': 'string', 'length': 150, 'name': 'RETAILER_NAME', 'scale': 0, 'type': 'VARCHAR'}, {'jsonType': 'string', 'length': 26, 'name': 'ORDER_DATE', 'scale': 0, 'type': 'TIMESTAMP'}, {'jsonType': 'integer', 'length': 4, 'name': 'PRODUCT_NUMBER', 'scale': 0, 'type': 'INTEGER'}, {'jsonType': 'integer', 'length': 4, 'name': 'QUANTITY', 'scale': 0, 'type': 'INTEGER'}], 'serviceCreator': 'service_admin1', 'serviceDescription': 'Select order and order details information', 'serviceName': 'getorderinfo', 'serviceUpdater': 'service_admin1', 'version': '1.0'}

In [24]:
print("Service Details:")
print("Service Name: " + response.json()['serviceName'])
print("Service Version: " + response.json()['version'])
print("Service Description: " + response.json()['serviceDescription'])
print("Service Creator: " + response.json()['serviceCreator'])
print("Service Updater: " + response.json()['serviceUpdater'])


print('Users:')
display(pd.DataFrame(response.json()['grantees']['users']))
print('Groups:')
display(pd.DataFrame(response.json()['grantees']['groups']))
print('Roles:')
display(pd.DataFrame(response.json()['grantees']['roles']))

print('')
print('Input Parameters:')
display(pd.DataFrame(response.json()['inputParameters']))

print('Result Set Fields:')
display(pd.DataFrame(response.json()['resultSetFields']))

Service Details:
Service Name: getorderinfo
Service Version: 1.0
Service Description: Select order and order details information
Service Creator: service_admin1
Service Updater: service_admin1
Users:

          grantee  withGrantOption
0  SERVICE_ADMIN1             True

Groups:

Empty DataFrame
Columns: []
Index: []

Roles:

        grantee  withGrantOption
0  SERVICE_USER            False

Input Parameters:

   length mode       name  scale     type
0     150   IN  @RETAILER      0  VARCHAR
1      19   IN     @PRICE      2  DECIMAL

Result Set Fields:

  jsonType  length            name  scale       type
0  integer       4    ORDER_NUMBER      0    INTEGER
1   string     150   RETAILER_NAME      0    VARCHAR
2   string      26      ORDER_DATE      0  TIMESTAMP
3  integer       4  PRODUCT_NUMBER      0    INTEGER
4  integer       4        QUANTITY      0    INTEGER

## List Available Services
You can also list all the user defined services you have access to

In [25]:
API_listrest = "/v1/services"

In [26]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [27]:
display(pd.DataFrame(response.json()['Db2Services']))

,lastModified,serviceCreator,serviceDescription,serviceName,serviceUpdater,version
0,2022-07-05T17:35:18.350315Z,service_admin1,Select order and order details information,getorderinfo,service_admin1,1.0

## Get Service Logs
You can easily download service logs. However you must be authorized as the principal administration user to do so.

In [ ]:
API_listrest = "/v1/logs"

In [ ]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [ ]:
if (response.status_code == 200):
  myFile = response.content
  open('/tmp/logs.zip', 'wb').write(myFile)
  print("Downloaded",len(myFile),"bytes.")
else:
  print(response.json())