# Create Db2 RESTful Services that Insert, Update and Delete Rows

This notebook provides examples of creating REST services that update, insert and delete rows in a database. The more interesting service is the insert service because it takes one input parameter in the form of a JSON document that contains values of the columns in the table.  It uses the Db2 JSON_Table function to extract the column values.  This is much easier than having a bunch of input parameters.  

After each service is created, it is executed using he authorities of the service_user role.  

The "Db2 RESTful Endpoint Get Token Notebook" notebook is called to provide authentication tokens for the " service admin" and "service user" users.  The notebook expects the "usertype" variable to be set and returns the "token" string containing the authentication token. 

Each endpoint is associated with a single SQL statement. Authenticated users of web, mobile, or cloud applications can use these REST endpoints from any REST HTTP client without having to install any Db2 drivers.

This notebook is used as example for the db2Dean article for http://www.db2dean.com/Previous/Db2RESTdbUpdates.html

You can find more information about this service at: https://www.ibm.com/support/producthub/db2/docs/content/SSEPGG_11.5.0/com.ibm.db2.luw.admin.rest.doc/doc/c_rest.html.

## Finding the Db2 RESTful Endpoint Service API Documentation
The APIs used in this notebook are documented in the container for the endpoint.  If you are running a browser on the host containing the container, you can view the documentation using "localhost" host name.  If that is your case then you can view the documentaiton by pasting this  URL into your browser:  https://localhost:50050/docs  Otherwise, you would substitute the remote IP or host name if the container is on another host.  You would also change https to http if you are running the service in http mode.

## Import the required programming libraries
The requests library is the minimum required by Python to construct RESTful service calls. The Pandas library is used to format and manipulate JSON result sets as tables.

In [1]:
import requests
import pandas as pd

## RESTful Host
The next part defines where the request is sent to. It provides the location of the RESTful service for our calls.  In my case I was running this notebook on the same machine as the REST Endpoint container was running.  If you are on a different host you would need to replace "localhost" with the actual host name or IP.  Also if you are running your service as https, you would need to change http to https.

In [2]:
Db2RESTful = "http://localhost:50050"

## Define "grant_auth" Function to authroize the "Service User" Role to execute a service
In this case we are giving access to the database role "SERVICE_USER" so all users in that role can execute the service.  The function has one input value that tells the function which service is being authorized.

In [3]:
def grant_auth(service_version):
    API_grant = "/v1/services/grant/"+service_version
    body = {
      "roles": {
        "withGrantOption": False, 
        "names": ["SERVICE_USER"]
      }
    }
    
    try:
        response = requests.put("{}{}".format(Db2RESTful,API_grant), headers=admin_headers, json=body)
    except Exception as e:
        print("Unable to authorize service. Error={}".format(repr(e)))
        
    print("Response of 200 Means it works :", response)
    
    return(response)

## Authentication
Get tokens for both the Service Administrator and Service user roles.  They will be used in creating and executing the services later.  Calling the notebook that requests the tokens simulates a service that would authenticate a user and provide a token for the user's level of authority.  The following syntax will look for the notebook in the same directory as this notebook

In [4]:
usertype="admin"
%run "Db2 RESTful Endpoint Get Token Notebook.ipynb"

admin_headers = {
  "authorization": token,  
  "content-type": "application/json"
}

#print(admin_headers)

Creating token for the service administrator.
Status of token request.  200=Success
<Response [200]>
200
eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6ZmFsc2UsImNsaWVudF9pZCI6IjRjZjk3ZGRjLWMxODEtNGYxMS1hYTIyLTIyMTY4YzU1MDJiYSIsImV4cCI6MTY2Mzg3ODIyOSwiaXNzIjoic2VydmljZV9hZG1pbjEifQ.PLhJDmSaJFWv67G14VLTpC1E0d4_2RKPzEQRrgrcR7QXKUFyQsrghH4kq4TAAivvkWslkoAJegGGL8Bq1b3tb9nelzaNdXmkn6lRikUO5tvueDLYnX-vxP6OZ5F6H9xBHsfkNaDP3rgvEeRaFOyy5ze0IRg6HZXcDXc3rY3MFttaAoPNlkKCL-eRNatcCIe12Cfme25hsDneYYrSjVLvvgMdWa5VhnyjF5oPSO6n6V7mtaW6d-OMaKFpIfNIQEcFNs24GYUk2JUzitE5QsfySdsUjhlq5plNMCzQuB35rA5kspDzx5DbYVjmL3gqblJXlwyM8jtgK-ybamMidSVfow

In [5]:
usertype="user"
%run "Db2 RESTful Endpoint Get Token Notebook.ipynb"

service_headers = {
  "authorization": token,  
  "content-type": "application/json"
}

#print(admin_headers)

Creating token for the service user.
Status of token request.  200=Success
<Response [200]>
200
eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6ZmFsc2UsImNsaWVudF9pZCI6IjU0MmMzNWZlLWU3NWMtNDUzZC05YzRhLWE3MTc2NmY1ZWYyYiIsImV4cCI6MTY2Mzg3ODIzMCwiaXNzIjoic2VydmljZV91c2VyMSJ9.N8njxKVEKZjHwVrjJmJHyQO1_5Hw5Chkc052_Rv-sL7lCNgQTOLr0V5yIvd9iNi3Jj34C7wqVCIK1xGqS--wxTKJLmPWhO1lmu0jmO54Oh6WckXrlYM90RbM6H4cP2qeohxIaP1Z5KtFAM-pBch4wkvbvxxIHB3BdnZzEsFrT7d1YIj9if_AX-oXfQvRBH4VHkfZesAJ_Cqi4J2hmcl-o2FGFfXf5AcU6839aknhNEc8rZfjM8z7nabVljf2HL9jq_8fek7jBitITz3gYBpw7NCyKTN47adbg59UDfDIYmuN4C7lchYwcMbvX4lTXGFIzlf2nTIAau9IvEN0Gs7hkQ

#   * * * * INSERT FROM JSON SERVICE * * * *

## Create service to insert values into the ORDER_HEADER table from JSON doc
For wider rows, it may be quite tedious to create an input parameter in the service for every column that the service might need to insert.  One way to make this easier is to construct a Python Dictionary data type (JSON document) and pass it as a single parameter to the insert service.  Db2 can use its JSON_TABLE function to extract the values from the document into the columns as shown in the following example.

In the next set of cells I show a way of creating the query that uses the JSON_TABLE function to extract the values.  To get all of the quoting and special characters put into the string I construct, I build the final body over a few different cells.  A more advance Python developer could probably do this in fewer steps, but at least this works.  His a link to the Db2 documentation for the function:  https://www.ibm.com/docs/en/db2/11.5?topic=functions-json-table

In [6]:
# Create subselect using the Service "@ORDERHEADJSON" input variable
strict= "'strict $'"
subselect= 'select U."order_no" \
         ,U."retailer_name" \
         ,U."retailer_name_mb" \
         ,U."retailer_site_cd" \
         ,U."retailer_contact_cd" \
         ,U."ss_code" \
         ,U."br_cd" \
         ,U."order_dte" \
         ,U."order_close_dte" \
         ,U."order_meth_code" \
     FROM sysibm.sysdummy1 as E , JSON_TABLE(@ORDERHEADJSON,' + strict + ' COLUMNS ( \
          "order_no" INTEGER \
         ,"retailer_name" VARCHAR(150)\
         ,"retailer_name_mb" VARCHAR(150)\
         ,"retailer_site_cd" INTEGER \
         ,"retailer_contact_cd" INTEGER \
         ,"ss_code" INTEGER\
         ,"br_cd" INTEGER\
         ,"order_dte"  TIMESTAMP \
         ,"order_close_dte" TIMESTAMP \
         ,"order_meth_code" INTEGER) \
           ERROR ON ERROR) AS U'
#print(subselect)

In [7]:
# Create the full query including the subselect from the cell above to be used
# when creating the body of the service
query="insert into gosales.order_header ( \
         ORDER_NUMBER \
        ,RETAILER_NAME \
        ,RETAILER_NAME_MB \
        ,RETAILER_SITE_CODE \
        ,RETAILER_CONTACT_CODE \
        ,SALES_STAFF_CODE \
        ,SALES_BRANCH_CODE \
        ,ORDER_DATE  \
        ,ORDER_CLOSE_DATE \
        ,ORDER_METHOD_CODE \
       ) " + subselect
      
#print(query)
#print(type(query))

##### Create the "insert_order_header" service

In [8]:
# Notice that isQuery is set to false because no rows are returned from an INSERT statement.  
body = {"isQuery": False,
       "parameters": [
         {
         "datatype": "CLOB",
         "name": "@ORDERHEADJSON"
         }
       ],
       "schema": "REST_SERVICES",
       "serviceDescription": "Insert data from values in JSON doc into the ORDER_HEADER table",
       "serviceName": "ins_order_header",
       "sqlStatement": query,
       "version": "1.0"
}
print(body)

{'isQuery': False, 'parameters': [{'datatype': 'CLOB', 'name': '@ORDERHEADJSON'}], 'schema': 'REST_SERVICES', 'serviceDescription': 'Insert data from values in JSON doc into the ORDER_HEADER table', 'serviceName': 'ins_order_header', 'sqlStatement': 'insert into gosales.order_header (          ORDER_NUMBER         ,RETAILER_NAME         ,RETAILER_NAME_MB         ,RETAILER_SITE_CODE         ,RETAILER_CONTACT_CODE         ,SALES_STAFF_CODE         ,SALES_BRANCH_CODE         ,ORDER_DATE          ,ORDER_CLOSE_DATE         ,ORDER_METHOD_CODE        ) select U."order_no"          ,U."retailer_name"          ,U."retailer_name_mb"          ,U."retailer_site_cd"          ,U."retailer_contact_cd"          ,U."ss_code"          ,U."br_cd"          ,U."order_dte"          ,U."order_close_dte"          ,U."order_meth_code"      FROM sysibm.sysdummy1 as E , JSON_TABLE(@ORDERHEADJSON,\'strict $\' COLUMNS (           "order_no" INTEGER          ,"retailer_name" VARCHAR(150)         ,"retailer_name_mb" VARCHAR(150)         ,"retailer_site_cd" INTEGER          ,"retailer_contact_cd" INTEGER          ,"ss_code" INTEGER         ,"br_cd" INTEGER         ,"order_dte"  TIMESTAMP          ,"order_close_dte" TIMESTAMP          ,"order_meth_code" INTEGER)            ERROR ON ERROR) AS U', 'version': '1.0'}

In [9]:
API_makerest = "/v1/services"

In [10]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_makerest), headers=admin_headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [11]:
# A response of 400 frequently means that the serice already exists 
# and you need to service delete it using the delete cells below.
print(response)
if (response.status_code == 201):
  print("Service Created")

<Response [201]>
Service Created

In [ ]:
# Only run this celll if the response was not 201.
print(response.json())

#### Allow the service user to execute the service
In this case we are giving access to the database role "SERVICE_USER" so all users in that role can execute the service.  See the definition of the grant_auth in a cell near the beginning of this notebook.

In [12]:
service_and_version = "ins_order_header/1.0"
grant_auth(service_and_version)

Response of 200 Means it works : <Response [200]>

## Execute the Service to Insert from a JSON Doc
Now you can call the RESTful service, passing a single JSON document to provide the column values.  Note that the key/value pairs can be in any order, but the key names must match the key names that are used when the service is created.

In [13]:
API_runrest = "/v1/services/ins_order_header/1.0"

In [14]:
# Create a dictionary (JSON like type) of the fields to insert into the order header table
# Quote marks (any) and certain other secial characters witin any string fields will cause the insert to fail
raw_order_header= {'order_close_dte': '2004-02-17 00:00:00',
 'order_dte': '2004-01-12 00:00:00',
 'order_meth_code': 6,
 'order_no': 834937,
 'retailer_contact_cd': 3549,
 'retailer_name': 'Kavanagh Sports',
 'retailer_name_mb': 'Kavanagh Sports',
 'retailer_site_cd': 20530,
 'br_cd': 21,
 'ss_code': 10798}
#print(raw_order_header)
print(type(raw_order_header))
#print(raw_order_header)

<class 'dict'>

In [15]:
# Convert the dictionary to a string because we are passing the input parm as a CLOB
# Then replace the single quotes in the JSON document with doubles because Db2 likes 
# doube quotes around keys and values
sorder_header=str(raw_order_header)
order_header= sorder_header.replace("'", '"') 
#print(sorder_header)
#print(order_header)

In [16]:
body = {
  "parameters": {
    "@ORDERHEADJSON": order_header
  },
  "sync": True
}
print(body)

{'parameters': {'@ORDERHEADJSON': '{"order_close_dte": "2004-02-17 00:00:00", "order_dte": "2004-01-12 00:00:00", "order_meth_code": 6, "order_no": 834937, "retailer_contact_cd": 3549, "retailer_name": "Kavanagh Sports", "retailer_name_mb": "Kavanagh Sports", "retailer_site_cd": 20530, "br_cd": 21, "ss_code": 10798}'}, 'sync': True}

In [17]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_runrest), headers=service_headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

A response of 200 indicates a successful service call.

In [18]:
print(response)
print(response.json())

<Response [200]>
{'jobStatus': 4, 'jobStatusDescription': 'Job is complete', 'resultSet': [{'rowsAffected': 1}], 'rowCount': 1}

#   * * * * UPDATE SERVICE * * * *

## Create service to update the ORDER_HEADER table

In the next set of cells I show a way of creating a service that updates two columns of the order_header table for a particular order number.  Parameters are provided for the new column values and the key of the row to update.  If your service needed to update lots of columns, you could use a JSON documen as the INSERT service example did above.

In [19]:
# Create the full query to be used
# when creating the body of the service
query="update gosales.order_header              \
         set RETAILER_NAME = @RETAILERNAME      \
            ,RETAILER_NAME_MB = @RETAILERNAMEMB \
         where ORDER_NUMBER = @ORDERNOKEY"
      
#print(query)
#print(type(query))

##### Create the "update_order_header" service

In [20]:
# Notice that isQuery is set to false because no rows are returned from an INSERT statement.  
body = {"isQuery": False,
       "parameters": [
         {
         "datatype": "INTEGER",
         "name": "@ORDERNOKEY"
         },
         {
         "datatype": "VARCHAR(150)",
         "name": "@RETAILERNAME"
         },
         {
         "datatype": "VARCHAR(150)",
         "name": "@RETAILERNAMEMB"
         }
       ],
       "schema": "REST_SERVICES",
       "serviceDescription": "Update the Retailer names for ORDER_HEADER for a particular order number",
       "serviceName": "update_order_header",
       "sqlStatement": query,
       "version": "1.0"
}
print(body)

{'isQuery': False, 'parameters': [{'datatype': 'INTEGER', 'name': '@ORDERNOKEY'}, {'datatype': 'VARCHAR(150)', 'name': '@RETAILERNAME'}, {'datatype': 'VARCHAR(150)', 'name': '@RETAILERNAMEMB'}], 'schema': 'REST_SERVICES', 'serviceDescription': 'Update the Retailer names for ORDER_HEADER for a particular order number', 'serviceName': 'update_order_header', 'sqlStatement': 'update gosales.order_header                       set RETAILER_NAME = @RETAILERNAME                  ,RETAILER_NAME_MB = @RETAILERNAMEMB          where ORDER_NUMBER = @ORDERNOKEY', 'version': '1.0'}

In [21]:
API_makerest = "/v1/services"

In [22]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_makerest), headers=admin_headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [23]:
# A response of 400 frequently means that the serice alrady exists 
# and you need to delete it using the delete cells below.
print(response)
if (response.status_code == 201):
  print("Service Created")

<Response [201]>
Service Created

In [ ]:
# Run this cell if the response isn't 201 to get more error information
print(response.json())

#### Allow the service user to execute the service
In this case we are giving access to the database role "SERVICE_USER" so all users in that role can execute the service.

In [24]:
service_and_version = "update_order_header/1.0"
grant_auth(service_and_version)

Response of 200 Means it works : <Response [200]>

## Update a row in the order heard using the input parameters
Now you can call the RESTful service, passing one key parameter for the where clause and two parameters for the columns being updated.

In [25]:
API_runrest = "/v1/services/update_order_header/1.0"

In [26]:
orderno = 834937
name = "db2Deans Discount Software"
namemb = "Ask about our DBA specials"
body = {
  "parameters": {
    "@ORDERNOKEY": orderno,
    "@RETAILERNAME": name,
    "@RETAILERNAMEMB": namemb
  },
  "sync": True
}
print(body)

{'parameters': {'@ORDERNOKEY': 834937, '@RETAILERNAME': 'db2Deans Discount Software', '@RETAILERNAMEMB': 'Ask about our DBA specials'}, 'sync': True}

In [27]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_runrest), headers=service_headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

A response of 200 indicates a successful service call.

In [28]:
print(response)
print(response.json())

<Response [200]>
{'jobStatus': 4, 'jobStatusDescription': 'Job is complete', 'resultSet': [{'rowsAffected': 1}], 'rowCount': 1}

#   * * * * DELETE SERVICE * * * *

## Create service to delete a row in the ORDER_HEADER table

In the next set of cells I show a way of creating a service that updates two columns of the order_header table for a particular order number.  Parameters are provided for the new column values.  If your service needed to update lots of columns, you could use a JSON documen like the INSERT service example did above.

In [29]:
# Create the full query including the subselect from the cell above to be used
# when creating the body of the service
query="delete from gosales.order_header    \
         where ORDER_NUMBER = @ORDERNOKEY"
      
#print(query)
#print(type(query))

##### Create the "delete_order_header" service

In [30]:
# Notice that isQuery is set to false because no rows are returned from an INSERT statement.  
body = {"isQuery": False,
       "parameters": [
         {
         "datatype": "INTEGER",
         "name": "@ORDERNOKEY"
         }
       ],
       "schema": "REST_SERVICES",
       "serviceDescription": "Delete a row from ORDER_HEADER for a particular order number",
       "serviceName": "delete_order_header",
       "sqlStatement": query,
       "version": "1.0"
}
print(body)

{'isQuery': False, 'parameters': [{'datatype': 'INTEGER', 'name': '@ORDERNOKEY'}], 'schema': 'REST_SERVICES', 'serviceDescription': 'Delete a row from ORDER_HEADER for a particular order number', 'serviceName': 'delete_order_header', 'sqlStatement': 'delete from gosales.order_header             where ORDER_NUMBER = @ORDERNOKEY', 'version': '1.0'}

In [31]:
API_makerest = "/v1/services"

In [32]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_makerest), headers=admin_headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [33]:
# A response of 400 frequently means that the serice alrady exists 
# and you need to delete it using the delete cells below.
print(response)
if (response.status_code == 201):
  print("Service Created")

<Response [201]>
Service Created

In [ ]:
# Run this cell if the response isn't 201 to get more error information
print(response.json())

#### Allow the service user to execute the service
In this case we are giving access to the database role "SERVICE_USER" so all users in that role can execute the service.

In [34]:
service_and_version = "delete_order_header/1.0"
grant_auth(service_and_version)

Response of 200 Means it works : <Response [200]>

## Delete a row in the ORDER_HEADER for an order number
Delete the row in the order_header table for the order number defined.

In [35]:
API_runrest = "/v1/services/delete_order_header/1.0"

In [36]:
orderno = 834937
body = {
  "parameters": {
    "@ORDERNOKEY": orderno
  },
  "sync": True
}
print(body)

{'parameters': {'@ORDERNOKEY': 834937}, 'sync': True}

In [37]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_runrest), headers=service_headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

A response of 200 indicates a successful service call.

In [38]:
print(response)
print(response.json())

<Response [200]>
{'jobStatus': 4, 'jobStatusDescription': 'Job is complete', 'resultSet': [{'rowsAffected': 1}], 'rowCount': 1}

#   * * * * SERVICE UTILITY EXAMPLES * * * *
The following are examples of endpoint utilities for administering services including delete, retrieve service details and listing services.

## List Available Services
You can also list all the user defined services you have access to

In [39]:
API_listrest = "/v1/services"

In [40]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), headers=service_headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [41]:
display(pd.DataFrame(response.json()['Db2Services']))

,lastModified,serviceCreator,serviceDescription,serviceName,serviceUpdater,version
0,2022-09-22T19:25:49.686668Z,service_admin1,Delete a row from ORDER_HEADER for a particula...,delete_order_header,service_admin1,1.0
1,2022-07-05T17:35:18.350315Z,service_admin1,Select order and order details information,getorderinfo,service_admin1,1.0
2,2022-09-22T19:24:11.274699Z,service_admin1,Insert data from values in JSON doc into the O...,ins_order_header,service_admin1,1.0
3,2022-09-22T19:24:57.07042Z,service_admin1,Update the Retailer names for ORDER_HEADER for...,update_order_header,service_admin1,1.0

## Retreive Service Details
You can query each service to see its details, including authoritization, input parameters and output results. It is probably worthwile to give this informaiton to the developers who will call the service.  Unless you give them direct access to select from the tables in the query, they will not be able to describe he service wiht this command.

In [42]:
API_listrest = "/v1/services/ins_order_header/1.0"
#API_listrest = "/v1/services/update_order_header/1.0"
#API_listrest = "/v1/services/delete_order_header/1.0"

In [43]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), headers=admin_headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [44]:
print(response.json())

{'grantees': {'groups': None, 'roles': [{'grantee': 'SERVICE_USER', 'withGrantOption': False}], 'users': [{'grantee': 'SERVICE_ADMIN1', 'withGrantOption': True}]}, 'inputParameters': [{'length': 1048576, 'mode': 'IN', 'name': '@ORDERHEADJSON', 'scale': 0, 'type': 'CLOB'}, {'length': 4, 'mode': 'OUT', 'name': 'V_ROWCOUNT', 'scale': 0, 'type': 'INTEGER'}], 'lastModified': '2022-09-22T19:24:11.274699Z', 'procName': 'REST_INS_ORDER_HEADER_1_0', 'procSchema': 'REST_SERVICES', 'resultSetFields': [{'jsonType': 'integer', 'length': 4, 'name': 'rowsAffected', 'scale': 0, 'type': 'INTEGER'}], 'serviceCreator': 'service_admin1', 'serviceDescription': 'Insert data from values in JSON doc into the ORDER_HEADER table', 'serviceName': 'ins_order_header', 'serviceUpdater': 'service_admin1', 'version': '1.0'}

In [45]:
print("Service Details:")
print("Service Name: " + response.json()['serviceName'])
print("Service Version: " + response.json()['version'])
print("Service Description: " + response.json()['serviceDescription'])
print("Service Creator: " + response.json()['serviceCreator'])
print("Service Updater: " + response.json()['serviceUpdater'])


print('Users:')
display(pd.DataFrame(response.json()['grantees']['users']))
print('Groups:')
display(pd.DataFrame(response.json()['grantees']['groups']))
print('Roles:')
display(pd.DataFrame(response.json()['grantees']['roles']))

print('')
print('Input Parameters:')
display(pd.DataFrame(response.json()['inputParameters']))

print('Result Set Fields:')
display(pd.DataFrame(response.json()['resultSetFields']))

Service Details:
Service Name: ins_order_header
Service Version: 1.0
Service Description: Insert data from values in JSON doc into the ORDER_HEADER table
Service Creator: service_admin1
Service Updater: service_admin1
Users:

          grantee  withGrantOption
0  SERVICE_ADMIN1             True

Groups:

Empty DataFrame
Columns: []
Index: []

Roles:

        grantee  withGrantOption
0  SERVICE_USER            False

Input Parameters:

    length mode            name  scale     type
0  1048576   IN  @ORDERHEADJSON      0     CLOB
1        4  OUT      V_ROWCOUNT      0  INTEGER

Result Set Fields:

  jsonType  length          name  scale     type
0  integer       4  rowsAffected      0  INTEGER

## Delete a Service
A single call is also available to delete a service.  Only delete the service when you are about to create a new one or no longer want the service.

In [46]:
API_deleteService = "/v1/services"
#Service = "/ins_order_header"
#Service = "/update_order_header"
Service = "/delete_order_header"
Version = "/1.0"

In [47]:
try:
    response = requests.delete("{}{}{}{}".format(Db2RESTful,API_deleteService,Service,Version), headers=admin_headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [48]:
# A response of 204 indicates success.
print (response)

<Response [204]>

In [ ]:
# Run this line if the response is not 204 to display error information
print(response.json())

## Get Service Logs
You can easily download service logs. However you must be authorized as the principal administration user to do so.

In [ ]:
API_listrest = "/v1/logs"

In [ ]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), headers=admin_headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [ ]:
if (response.status_code == 200):
  myFile = response.content
  open('/tmp/logs.zip', 'wb').write(myFile)
  print("Downloaded",len(myFile),"bytes.")
else:
  print(response.json())